USE [QLYBENHNHAN]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[TenDangNhap] [nvarchar](100) NULL,
	[TenHienThi] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bacsi]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bacsi](
	[MaBacSi] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[MaKhoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benh]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benh](
	[MaBenh] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[Trieuchung] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benhnhan]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benhnhan](
	[MaBenhNhan] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CCCD] [nvarchar](20) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Phone] [nvarchar](20) NULL,
	[BHYT] [nvarchar](100) NULL,
	[NgayNhapVien] [date] NULL,
	[NgayRaVien] [date] NULL,
	[MaKhoa] [int] NULL,
	[MaBacSi] [int] NULL,
	[MaYTa] [int] NULL,
	[MaBenh] [int] NULL,
	[MaGiuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giuongbenh]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giuongbenh](
	[MaGiuong] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] NOT NULL,
	[DaTT] [float] NULL,
	[ChuaTT] [float] NULL,
	[status] [int] NULL,
	[MaBenhNhan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[price] [float] NULL,
	[MaBenh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yta]    Script Date: 13/10/2023 8:22:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yta](
	[MaYTa] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[MaKhoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYTa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([TenDangNhap], [TenHienThi], [MatKhau]) VALUES (N'tuyetnhi123', N'Tuyết Nhi', N'12345678')
INSERT [dbo].[Account] ([TenDangNhap], [TenHienThi], [MatKhau]) VALUES (N'tramy123', N'Trà My', N'123456789')
INSERT [dbo].[Account] ([TenDangNhap], [TenHienThi], [MatKhau]) VALUES (N'a', N'a', N'1')
GO
INSERT [dbo].[Bacsi] ([MaBacSi], [name], [MaKhoa]) VALUES (101, N'Nguyễn Thuỵ Trang', 10)
INSERT [dbo].[Bacsi] ([MaBacSi], [name], [MaKhoa]) VALUES (102, N'Lê Bảo Huy', 10)
INSERT [dbo].[Bacsi] ([MaBacSi], [name], [MaKhoa]) VALUES (103, N'Nguyễn Đức Tới', 10)
GO
INSERT [dbo].[Benh] ([MaBenh], [name], [Trieuchung]) VALUES (1, N'Đau tim', N'Đau ngực nặng, đau nhói, căng tức, tim như bị đè ép bởi vật nặng,khó thở')
INSERT [dbo].[Benh] ([MaBenh], [name], [Trieuchung]) VALUES (2, N'Bướu cổ', N'Mệt mỏi, khô da, thường xuyên bị lạnh, hay đổ mồ hôi,lồi mắt, khàn giọng')
INSERT [dbo].[Benh] ([MaBenh], [name], [Trieuchung]) VALUES (3, N'Hội chứng ruột kích thích', N'Đau quặn bụng, táo bón, tiêu chảy, thay đổi thói quen đại tiện ')
GO
INSERT [dbo].[Benhnhan] ([MaBenhNhan], [Name], [CCCD], [NgaySinh], [GioiTinh], [Phone], [BHYT], [NgayNhapVien], [NgayRaVien], [MaKhoa], [MaBacSi], [MaYTa], [MaBenh], [MaGiuong]) VALUES (1, N'Nguyễn Văn A', N'048294006364', CAST(N'2013-02-03' AS Date), N'nam', N'0963784748', N'rhge242964', CAST(N'2015-04-02' AS Date), CAST(N'2015-04-07' AS Date), 10, 101, 101, 1, 1)
INSERT [dbo].[Benhnhan] ([MaBenhNhan], [Name], [CCCD], [NgaySinh], [GioiTinh], [Phone], [BHYT], [NgayNhapVien], [NgayRaVien], [MaKhoa], [MaBacSi], [MaYTa], [MaBenh], [MaGiuong]) VALUES (2, N'Nguyễn Thị B', N'046284284628', CAST(N'2015-03-04' AS Date), N'nữ', N'0962646648', N'gfgg465876', CAST(N'2015-04-05' AS Date), CAST(N'2016-03-04' AS Date), 10, 102, 102, 2, 2)
INSERT [dbo].[Benhnhan] ([MaBenhNhan], [Name], [CCCD], [NgaySinh], [GioiTinh], [Phone], [BHYT], [NgayNhapVien], [NgayRaVien], [MaKhoa], [MaBacSi], [MaYTa], [MaBenh], [MaGiuong]) VALUES (3, N'Nguyễn Văn C', N'072725895986', CAST(N'2010-04-07' AS Date), N'nam', N'0947664784', N'jbdjg475574', CAST(N'2015-05-03' AS Date), CAST(N'2016-04-07' AS Date), 11, 111, 111, 3, 2)
GO
INSERT [dbo].[Giuongbenh] ([MaGiuong], [name], [status]) VALUES (1, N'GB01', N'0')
INSERT [dbo].[Giuongbenh] ([MaGiuong], [name], [status]) VALUES (2, N'GB02', N'0')
INSERT [dbo].[Giuongbenh] ([MaGiuong], [name], [status]) VALUES (3, N'GB03', N'0')
GO
INSERT [dbo].[Khoa] ([MaKhoa], [name]) VALUES (10, N'Khoa Cấp Cứu')
INSERT [dbo].[Khoa] ([MaKhoa], [name]) VALUES (11, N'Khoa Răng- Hàm - Mặt')
INSERT [dbo].[Khoa] ([MaKhoa], [name]) VALUES (12, N'Khoa Ung Bướu')
GO
INSERT [dbo].[Thuoc] ([MaThuoc], [name], [price], [MaBenh]) VALUES (11, N'Benazepril', 3000, 1)
INSERT [dbo].[Thuoc] ([MaThuoc], [name], [price], [MaBenh]) VALUES (12, N'Warfarin', 2300, 1)
INSERT [dbo].[Thuoc] ([MaThuoc], [name], [price], [MaBenh]) VALUES (13, N'Aspirin', 575, 1)
GO
INSERT [dbo].[Yta] ([MaYTa], [name], [MaKhoa]) VALUES (101, N'Trần Thị Luận', 10)
INSERT [dbo].[Yta] ([MaYTa], [name], [MaKhoa]) VALUES (102, N'Huỳnh Quốc Đức', 10)
INSERT [dbo].[Yta] ([MaYTa], [name], [MaKhoa]) VALUES (103, N'NGuyễn Thị Phương Nhi', 10)
GO
ALTER TABLE [dbo].[Bacsi]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Benhnhan]  WITH CHECK ADD FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[Bacsi] ([MaBacSi])
GO
ALTER TABLE [dbo].[Benhnhan]  WITH CHECK ADD FOREIGN KEY([MaBenh])
REFERENCES [dbo].[Benh] ([MaBenh])
GO
ALTER TABLE [dbo].[Benhnhan]  WITH CHECK ADD FOREIGN KEY([MaGiuong])
REFERENCES [dbo].[Giuongbenh] ([MaGiuong])
GO
ALTER TABLE [dbo].[Benhnhan]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Benhnhan]  WITH CHECK ADD FOREIGN KEY([MaYTa])
REFERENCES [dbo].[Yta] ([MaYTa])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[Benhnhan] ([MaBenhNhan])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([MaBenh])
REFERENCES [dbo].[Benh] ([MaBenh])
GO
ALTER TABLE [dbo].[Yta]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
